<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{styleContent.css}">
    <title>个人博客</title>
</head>
<body>
    <nav>
        <a class="homePage" th:href="@{/blogManagementSystem}">返回首页</a>
        <a href="">日志</a>
        <a href="">留言板</a>
    </nav>
    <div class="container">
        <h2 class="blog-title">博客标题</h2>
        <p class="blog-summary">博客概要。。。</p>
        <div class="blog-content">
            <p>博客内容。。。</p>
        </div>
    </div>
</body>
</html>