<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styleOverview.css">
    <title>博客管理系统</title>
</head>
<body>
    <div class="container">
        <h2>欢迎来到name的博客</h2>
        <ul class="blog-list" id="blogList">
          <li>
            <h3>博客标题</h3>
            <p>博客概要...</p>
            <a href="blogContent.html">阅读全文</a>
            <button id="Edit Blog">编辑</button>
            <button>删除</button>
          </li>
          
          <!-- 添加更多博客项 -->
        </ul>
        <button id="Add Blog">添加博客</button>
        <a class="logout" href="login.html">登出</a>
      </div>
      <script src="styleOverview.js"></script>
</body>
</html>