<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{styleContent.css}">
    <title>個人ブログ</title>
</head>
<body>
    <nav>
        <a class="homePage" th:href="@{/blogManagementSystem}">ブログ管理システムに戻る</a>
        <a href="">ログ</a>
        <a href="">メッセージ</a>
        <a class="logout" th:href="@{/login}">ログアウト</a>
    </nav>
    <h1>[[${name}]]様のブログ</h1>
    <div class="container" th:each="blog : ${blogList}">
    	
    	<form class = "blog-function" th:action="@{/change}" method="post">
    	<input type = "hidden" name = "id" th:value= "${blog.id}">
    	<input class = "blog-submit" type = "submit" value="添削">
    	</form>
    
     	<h2 class="blog-title" th:text="${blog.getBlogTitle()}">博客标题</h2>
        <p class="blog-summary" th:text="${blog.getBlogSummary()}">博客概要。。。</p>
        <p class="blog-content" th:text="${blog.getBlogContent()}">博客内容。。。</p>
        
         <form class = "blog-function" th:action="@{/delete}" method="post">
        <input type = "hidden" name = "id" th:value= "${blog.id}">
        <input class = "blog-submit" type = "submit" value="削除">
        </form>
       
    </div>
    <button id="Add-Blog">ブログ追加</button>
    <script th:src="@{styleBlogContent.js}"></script>
</body>
</html>