<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{styleRegister.css}">
    <title>注册博客</title>
</head>
<body>
    <div class="container">
        <h2>注册博客</h2>
        <form method="POST" th:action="@{/register}" >
          <div class="form-group">
          
      	<p style="color:red" th:if="${error}">账户已存在或密码确认有误</p>
      	    <label for="username">用户名:</label>
            <input type="text" id="username" name="username" required>
          </div>
          <div class="form-group">
            <label for="password">密码:</label>
            <input type="password" id="password" name="password" required>
          </div>
          <div class="form-group">
            <label for="confirm-password">确认密码:</label>
            <input type="password" id="confirm-password" name="confirmPassword" required>
          </div>
          <button type="submit">注册</button>
        </form>
        <p>已有账号？<a th:href="@{/login}">点击这里登录</a></p>
      </div>
</body>
</html>